
<form class="form-group">
    <div class="input-group">
        {{input type="text" value=roomName}}
        <label class="form-label">Enter Event Name</label>
    </div>
    <input type=submit value="Create" class="create-button" {{action 'createRoom'}}>
</form>
