<h3 class="timer-label">
    Approximate time remaining:
</h3>
<div class="time-display">
    <span class="time-unit">
        <div class="hours-display">
            00
        </div>
    </span>
    <span class="time-divider">:</span>
    <span class="time-unit">
        <div class="minutes-display">
            00
        </div>
    </span>
    <span class="time-divider">:</span>
    <span class="time-unit">
        <div class="seconds-display">
            00
        </div>
    </span>
</div>
