.time-display
    +display(flex)
    +align-items(center)
    +justify-content(space-around)
    max-width:400px
    margin: 5px auto
.time-unit
    +flex(2)
    text-align: center
    font-size: 32px
.time-divider
    +flex(1)
    text-align: center
    font-size: 32px
