<h3>
    About the Shared Timer
</h3>
<p>
    This app is designed to be timer which can be used and have its current state
    shared among many people.  This app can be used for a variety of functions.
</p>
<p>
    It was mainly created to manage tournaments for various tabletop games.
    Specifically, it was created for use with the Star Wars&trade; X-Wing
    Miniatures Game by Fantasy Flight Games&reg;.
</p>
<p>
    A tournament organzier can use the app to create timers for the rounds,
    stopping and starting when needed. They can then share a link that allows
    the players to see the current time remaining in the timer.  There is some
    room for error, as the app currently uses the device time currently viewing
    the app.  A Tournament Organizer should always be the final say of when a
    round it over.  This app is meant to provide estimates, so players can know
    if they have time to go grab something, or if they should wait.
</p>
