<h2 id="title">Welcome to the Shared Timer</h2>

{{outlet}}

<h3>
    {{#link-to 'about'}}About this application{{/link-to}}
</h3>
<p>
    This app is a shared timer.  Note, viewing the timer from a device
    other than the creator can lead to variations in time displayed.
</p>
