<div class="container active">
    <h3>
        Create New Timer
    </h3>
    <div class="content">
        {{input type="text" value=name}}
        <label>Enter Event Name</label>
        <button >Create</button>
    </div>
</div>
<div class="container">
    <h3>
        Find a timer
    </h3>
    {{input type="text" value=name}}
    <label>Enter Event Name</label>
    <button>Find</button>
</div>
