<h3>
    Create New Timer
</h3>
<div class="content">
    {{input type="text" value=roomName}}
    <label>Enter Event Name</label>
    <button {{action 'create'}}>Create</button>
</div>
<h3>
    {{#link-to 'find'}} Find a timer{{/link-to}}
</h3>
