<h3>
    {{model.name}}
</h3>
<h4>
    Round: {{model.roundNo}}
</h4>
{{#if model.isActive}}
    {{view-timer endTime=model.endTime}}
{{else}}
<div>
    <h3>
        The timer is not currently running.
    </h3>
</div>
{{/if}}

{{#qr-code id=model.id}}
{{/qr-code}}
